* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  background-color: #222; }

html {
  font-size: 66.25%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f7f7f7; }

.errorMessage {
  margin: 1rem 0;
  color: #1db954;
  font-size: 1.2rem;
  display: block; }

.player {
  width: 100%;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0; }
  .player__play-bar {
    height: 6rem;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .player__play-bar--album {
      width: 30%; }
    .player__play-bar--controls {
      width: 40%;
      max-width: 70rem;
      display: flex;
      flex-direction: column; }
    .player__play-bar--volume {
      width: 30%;
      display: flex;
      align-items: center; }
    .player__play-bar--progress-bar {
      margin-top: 1rem;
      display: flex;
      align-items: center; }

.album {
  position: relative;
  height: 100%;
  display: flex; }
  .album__link {
    vertical-align: middle; }
    .album__link--artwork {
      height: 5.5rem;
      width: 5.5rem;
      margin-right: 1.5rem;
      background-size: cover; }
  .album__info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .album__info--track {
      display: flex;
      align-items: center;
      margin-bottom: .5rem; }
      .album__info--track-name {
        font-size: 1.2rem; }
        .album__info--track-name:hover {
          cursor: pointer;
          text-decoration: underline; }
      .album__info--track-icon {
        margin-left: 1.5rem;
        height: 2rem;
        width: 2rem;
        fill: #f7f7f7; }
        .album__info--track-icon:hover {
          fill: #1db954; }
    .album__info--artist-name {
      display: inline-block;
      color: #a0a0a0; }
      .album__info--artist-name:hover {
        color: #f7f7f7;
        cursor: pointer;
        text-decoration: underline; }

.progress-bar {
  width: 100%;
  height: 1rem;
  display: flex;
  cursor: pointer; }
  .progress-bar__time {
    font-size: 1rem;
    text-align: center; }
    .progress-bar__time--current {
      margin-right: 1rem; }
    .progress-bar__time--remaining {
      margin-left: 1rem; }
  .progress-bar__bg {
    align-self: center;
    height: .4rem;
    width: 100%;
    background-color: #a0a0a0;
    border-radius: 200px; }
  .progress-bar__progress {
    background-color: #f7f7f7;
    height: .4rem;
    width: 0;
    border-radius: 200px; }

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .controls svg {
    fill: #a0a0a0; }
    .controls svg:hover {
      fill: white;
      cursor: pointer; }
  .controls__shuffle {
    height: 2rem;
    width: 2rem;
    margin: 0 3rem; }
  .controls__back {
    height: 2rem;
    width: 2rem;
    margin: 0 1.5rem; }
  .controls__play {
    height: 3rem;
    width: 3rem;
    margin: 0 1.5rem; }
    .controls__play:hover {
      transform: scale(1.1); }
  .controls__pause {
    height: 3.5rem;
    width: 3.5rem;
    display: none;
    margin: 0 1.5rem; }
  .controls__fwd {
    height: 2rem;
    width: 2rem;
    margin: 0 1.5rem; }
  .controls__repeat {
    height: 2rem;
    width: 2rem;
    margin: 0 3rem; }

.volume {
  width: 20rem;
  position: absolute;
  right: 0; }
  .volume__bar {
    display: flex;
    align-items: center;
    margin-right: 2rem; }
    .volume__bar--icon {
      margin-right: 1rem;
      height: 2rem;
      width: 2rem;
      fill: #a0a0a0; }

.register {
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../images/friends.jpg");
  background-position: center;
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100vw;
  display: relative; }
  .register__container {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 120rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around; }
  .register__login {
    margin-top: 2.5rem;
    width: 40rem;
    padding: 4.5rem;
    border-right: 1px solid #a0a0a0; }
    .register__login--form {
      display: none; }
    .register__login--heading {
      text-align: center; }
    .register__login--btn {
      background-color: transparent;
      border: 1px solid #f7f7f7;
      border-radius: 200px;
      color: #f7f7f7;
      display: block;
      font-size: 1.4rem;
      letter-spacing: 2px;
      margin: 20px auto;
      height: 4rem;
      width: 100%;
      text-transform: uppercase;
      transition: all .3s; }
      .register__login--btn:hover {
        cursor: pointer;
        background-color: #1db954; }
    .register__login--has-account-text {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
      transition: all .3s; }
      .register__login--has-account-text:hover {
        cursor: pointer;
        color: #1db954; }
    .register__login ::placeholder {
      font-weight: 300;
      letter-spacing: 1px;
      color: #f7f7f7;
      opacity: 1; }
    .register__login :-ms-input-placeholder {
      color: #f7f7f7;
      opacity: 1; }
    .register__login ::-ms-input-placeholder {
      color: #f7f7f7; }
    .register__login label {
      display: block;
      color: #a0a0a0;
      font-size: 1.5rem;
      margin-top: 1.5rem; }
    .register__login input[type='text'],
    .register__login input[type='email'],
    .register__login input[type='password'] {
      display: block;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #f7f7f7;
      height: 2.7rem;
      line-height: 2.7rem;
      width: 100%;
      color: #f7f7f7; }
  .register__promo-text {
    padding: 4.5rem;
    display: table-cell; }
    .register__promo-text--heading {
      color: #1db954;
      font-size: 6rem;
      font-weight: bold; }
    .register__promo-text--sub-heading {
      margin: 3.5rem 0; }
    .register__promo-text--list {
      padding: 0; }
    .register__promo-text--item {
      list-style: none;
      font-size: 2rem;
      display: flex;
      align-items: center;
      margin: .7rem; }
    .register__promo-text--icon {
      height: 2rem;
      width: 2rem;
      fill: #1db954;
      margin-right: 1rem; }
