.options-menu {
	position: fixed;
	top: 0;
	display: none;
	background-color: $color-black-light;
	width: 20rem;
	border: 1px solid rgba($color-black, .15);
	border-radius: 4px;
	z-index: 2000;
	box-shadow: 0rem 0rem 1rem #000;

	&:hover {
	}

	&__input {
		display: none;
	}


	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		width: 100%;
		font-size: 1.2rem;
		color: $color-grey;
		padding: 1.5rem 2rem;

		svg {
			height: 2rem;
			width: 2rem;
			fill: $color-grey;
		}

		&:hover {
			color: $color-white;
			cursor: pointer;
			background-color: rgba($color-grey, .4);
		}

		&:hover svg {
			fill: $color-white;
		}
	}

	&__divider {
		border-top: 1px solid rgba($color-grey, .2);
	}
}
