.tracks {
	margin-top: 2rem;

	&__list {
		display: block;
		width: 100%;

		&--item {
			display: flex;
			align-items: center;
			font-size: 1.3rem;
			height: 2rem;
			border-bottom: 1px solid rgba($color-grey, .2);
			padding: 1rem .5rem;
			padding-top: 1.1rem;

			& > * {
				margin: 0 1rem;
			}

			&:not(:first-child) {

				&:hover {
					background-color: rgba($color-grey, .2);
					border-bottom: 1px solid transparent;
				}
			}

			&:hover svg {
				visibility: visible;
			}

			&:hover span {
				visibility: hidden;
			}

		}

		&--number {
			color: $color-grey;
			width: 2rem;
			position: relative;
			text-align: center;

			&-header {
				color: $color-grey;
				width: 2rem;
				font-size: 1rem;
				text-align: center;
			}

			&-play {
				visibility: hidden;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				height: 2.5rem;
				width: 2.5rem;
				fill: $color-white;
			}

			&:hover span {
				
			}

			&:hover svg {
				fill: #fff;
				transform: scale(1.1);
			}

		}


		&--name {
			width: 40%;

			&-header {
				color: $color-grey;
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				width: 40%;
			}
		}

		&--artist {
			max-width: 40%;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}

			&-header {
				color: $color-grey;
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				max-width: 40%;
			}
		}

		&--more {
			visibility: hidden;
			margin-left: auto;
			height: 100%;
			width: 3rem;
			position: relative;

			svg {
				margin-right: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 2rem;
				width: 2rem;
				fill: $color-white;

				&:hover {
					cursor: pointer;
				}
			}
		}

		&--duration {
			letter-spacing: 1px;
			color: $color-grey;

			&-header {
				text-transform: uppercase;
				font-size: 1rem;
				letter-spacing: 1px;
				color: $color-grey;
			}

			svg {
				fill: $color-grey;
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
}
