* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;	
	background-color: $color-black-dark;
	padding-bottom: 9rem;
}


.content-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	display: flex;
	// min-height: 100%;
}

.dynamic-content {
	margin-top: 5rem;
	width: 100%;
	// min-height: calc(100vh - 5rem);
	min-height: 100vh;
	min-width: 72rem;
	margin-left: 25rem;
	// padding-bottom: 10rem;
	position: relative;
	@include gradient;
}
