.playlists {


	&__container {
		padding: 1rem 0;
	}

	&__heading {
		font-size: 2rem;
		text-align: center;
	}

	&__btn {
		@include btn;
		@include green-play;
		padding: 1rem;
		width: 15rem;
		margin: 2rem auto;
	}

	&__icon {
		width: 20rem;
		height: 20rem;
		fill: $color-green;
		padding: 1rem;
		border: 2px solid $color-grey;
	}
}
